.wrapper {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.anime{
    transform: translateX(-20px);
    animation: animeleft .3s forwards;
}

@keyframes animeleft{
    to{
        opacity: 1;
        transform: initial;
    }
}