.wrapper {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.anime{
    transform: translateX(-20px);
    animation: animeleft .3s forwards;
}

@keyframes animeleft{
    to{
        opacity: 1;
        transform: initial;
    }
}

.loading{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 10px solid #ccc;
    border-right-color: transparent;
    animation: loading 1s infinite;
}

@keyframes loading{
    to{
        transform: rotate(360deg);
    }
}